PackageIdentifier: Olhapi.Maestro
PackageVersion: __VERSION__
PackageLocale: en-US
Publisher: Olhapi
PublisherUrl: https://github.com/olhapi/maestro
PublisherSupportUrl: https://github.com/olhapi/maestro/issues
PackageName: Maestro
ShortDescription: Docker-backed launcher for Maestro
License: MIT
LicenseUrl: https://github.com/olhapi/maestro/blob/main/LICENSE
ManifestType: defaultLocale
ManifestVersion: 1.6.0
